img {
    width: auto;
    max-height: 300px;
}
.row {
    width: 100%;
}
.swiper-wrapper {
    transform: translate3d(0px, 0px, 0px);
}
.swiper-slide {
    width: 200px !important;
}
.best-rating {
    background-color: #f1f1f1;
}
.movies-content,
.carousel-swiper {
    padding: 0px !important;
}
h3.movies-rating {
    padding: 15px 0;
    text-align: center;
}
.movie {
    padding: 20px 40px;
}
.rating span i {
    width: 20%;
    font-size: 27px;
}
span.movie-rating {
    font-size: 23px;
}
div.rating {
    padding: 15px 0;
    text-align: left;
}
.ticket {
    text-align: left;
}
.title {
    text-align: left !important;
}