img {
    width: auto;
    max-height: 300px;
}
.row {
    width: 100%;
}
.swiper-wrapper {
    transform: translate3d(0px, 0px, 0px);
}
.swiper-slide {
    width: 200px !important;
}
.best-rating {
    background-color: #cacaca;
}
.movies-content,
.carousel-swiper {
    padding: 0px !important;
}
h3.movies-rating {
    padding: 15px 0;
}